.logger-inner-container {
    overflow: auto;
    width: 100%;
    height: 100%;
    padding-left: 15px;
}
.logger-inner-container span.time {
    color: darkgray;
}
.logger-inner-container span.level {
    /*font-weight: bold;*/
    color: darkslategray;
    margin-right: 10px;
}
.logger-inner-container span.part {
    margin-right: 10px;
}
.logger-inner-container span.part.number {
    color: blue;
}
.logger-inner-container span.part.string {
    color: rgb(196, 26, 22);
}
.logger-inner-container li {
    display: block;
    overflow: auto;
    word-wrap: break-word;
    font-family: Consolas, "Lucida Console", Menlo, "dejavu sans mono", monospace;
    text-align: left;
}
.logger-inner-container ul {
    margin-left: 0px;
}
.logger-inner-container .insert {
    display: none !important;
}
.logger-inner-container .jsonView {
    line-height: normal !important;
}
.logger-inner-container .jsonView .delete {
    display: none !important;
}